.root,
.level,
.list {
  display: grid;
  min-width: 0;
}

.level {
  margin: 0;
  padding: 0;
  border: 0;
}

.listFrame {
  position: relative;
  min-width: 0;
}

.inlineContent {
  min-width: 0;
}

.childListFrame {
  position: relative;
  min-width: 0;
}

.contentFrame {
  position: relative;
  min-width: 0;
}

.contentBody {
  min-width: 0;
}

.emptySpace {
  visibility: hidden;
}
