.root {
  min-height: 0;
  display: grid;
  grid-template-rows: auto minmax(12rem, 1fr);
  gap: var(--app-section-gap);
}

.root[data-show-refresh-button="false"] {
  grid-template-rows: minmax(12rem, 1fr);
}

.actions {
  display: grid;
  grid-auto-columns: max-content;
  gap: var(--app-section-gap);
}
