.content {
  display: grid;
  grid-template-rows: max-content max-content minmax(0, 1fr);
  gap: var(--space-xs);
  min-width: 0;
  min-height: 0;
}

.content:has([data-keyboard-visible]) {
  height: auto !important;
  grid-template-rows: max-content auto;
}
